<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="/views/css/mystyle.css">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>
<body>
{% include 'header.html' %}
	<main id="all-info">
		
		{{ include ('all_courses_students.html') }}

		<div id="container">
			<div class="headline">
				<h2>You are now editing the course "{{specific_course.name}}" (id: {{specific_course.id}})</h2>
			</div>
			<h3>Number of students who are taking this course: {{count}} </h3>

			<!--<img src="/views/{{specific_course.image_link}}" alt="" width=150>-->
			<div class="form-buttons">
				<form enctype="multipart/form-data" action="/course/edited/{{specific_course.id}}" method="POST">
					<input type="submit" value="Save Changes">
					<div style="width:8rem; height:8rem;background-image: url(/views/{{specific_course.image_link}});background-size: cover; border-radius: 50%; margin-top:1rem; background-position: 50% 50%" >
					</div>
					<label>
						<p>Name:</p>
						<input type="name" value="{{specific_course.name}}" name="course_name">
					</label>
					<label for="course_description">
						<p>Description: </p>
						<textarea name="course_description" rows="14" cols="50">{{specific_course.description}}</textarea><br>
					</label>
					<label for="userfile">Choose a file to upload (if you wish to change the image):</label>
				    <!-- MAX_FILE_SIZE must precede the file input field -->
				    <input type="hidden" name="MAX_FILE_SIZE" value="450000" />
				    <!-- Name of input element determines name in $_FILES array -->
				    Send this file: <input name="userfile" type="file" onchange="readURL(this);" />
				    <img id="blah" src="#" alt="your image will appear here" />
				</form>
				{% if count == 0 %} <!-- why? if there are students taking taking this course it must not get deletd -->
					<form action="/course/delete/{{specific_course.id}}" method="post">
						<button type="submit" onclick="return confirm('Are you sure you want to delete this course?');">Delete course</button>
					</form>
				{% endif %}
			</div>
		</div>
	</main>
<script>
 function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
				
                .width(100);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>
<script type="text/javascript" src="/views/js/jquery.min.js"></script>
<script type="text/javascript" src="/views/js/students_courses.js"></script>
</body>
