<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="/views/css/mystyle.css">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<body>
	{% include 'header.html' %}
	
	<main id="all-info">
		{% include 'all_courses_students.html' %}

		<div id="container">
			<div>
				<div class="headline">
					<h3>You have requested the following course (id: {{specific_course.id}})</h3>
					{% if admin.role_id == 1 or admin.role_id == 2 %} <!-- there can be many roles but only 1 (owner) and 2 (manager) can edit -->
						<a href="/course/edit/{{specific_course.id}}"><button>Edit</button></a>
					{% endif %}
				</div>
				<div id="main-info">
					<div style="width:7rem; height:7rem;background-image: url(/views/{{specific_course.image_link}});background-size: cover; border-radius: 50%; background-position: 50% 50%" >
					</div>
					<div style="margin-left: 1rem;">
						<h2>{{specific_course.name}}</h2>
					</div>
				</div>
				<h3>{{specific_course.description}}</h3>
				<!--<img src="/views/{{specific_course.image_link}}" alt="" width=150>-->
			</div>


			<div>
				{%if count == 0 %} 
					<h2>No students are taking this course</h2>
				{% elseif count == 1 %}
					<h2>Only one student is taking this course:</h2>
				{% elseif count > 1 %}
					<h2>There are {{count}} students taking this course:</h2>
				{% endif %}
				<div class="list">
					{% for matched_student in students_in_course %}
						<section>
							<a href="/student/{{matched_student.id}}">
								<div id="info-box">
									<div style="width:5.5rem; height:5.5rem;background-image: url(/views/{{matched_student.image_link}});background-size: cover; border-radius: 50%; background-position: 50% 50%" >
									</div>
									<div class="fix">
										<div style="margin-left: 1rem">
											<h3>{{matched_student.name}}</h3>
											<h4>{{matched_student.phone}}</h4>
											<h4>{{matched_student.email}}</h4>
											<!--<img src="/views/{{matched_student.image_link}}" alt="" width=150>-->
										</div>
									</div>
								</div>
							</a>
						</section>
					{% endfor %}
				</div>
		    </div>
		</div>
	</main>
<script type="text/javascript" src="/views/js/jquery.min.js"></script>
<script type="text/javascript" src="/views/js/students_courses.js"></script>
</body>
</html>