<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="/views/css/mystyle.css">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>
<body>
	{% include 'header.html' %}
	<main id="all-info">
		{% include 'all_courses_students.html' %}
		<div id="container">
			<h2>You are now creating a new student</h2>
		<form enctype="multipart/form-data" action="/student/create-new/created" method="POST">
			<label>
				<p>Name:</p>
				<input type="name" name="name" required>
			</label>			
			<label>
				<p>Email:</p>
				<input type="email" name="email" required>
			</label>
			<label>
				<p>Phone:</p>
				<input type="tel" name="phone" required>
			</label>			
			
			{% for co in checkbox_info %}
			{% set found = false %}
				{% for course_signed_to in signed_to if not break %}
					{% if co.id == course_signed_to.id %}
						<div>	
				    		<input type="checkbox" id="courses_chosen" name="courses_chosen_id[]" value="{{co.id}}" checked="">
				  	  		<label for="courses_chosen">{{co.name}}</label>
				  		</div>
				  		{% set found = true %}
				  	{% endif %}
				{% endfor %}
				{% if found == false %}
				  		<div>	
				    		<input type="checkbox" id="courses_chosen" name="courses_chosen_id[]" value="{{co.id}}">
				  	  		<label for="courses_chosen">{{co.name}}</label>
				  		</div>
				{% endif %}	
				
			{% endfor %}
			<label for="userfile">Choose an image to upload</label>
		    <!-- MAX_FILE_SIZE must precede the file input field -->
		    <input type="hidden" name="MAX_FILE_SIZE" value="450000" />
		    <!-- Name of input element determines name in $_FILES array -->
		    Send this file: <input name="userfile" type="file" onchange="readURL(this);"  required/>
		    <img id="blah" src="#" alt="your image will appear here" />

			<button type="submit">Create</button>
		</form>
		</div>
	</main>
<script>
 function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
				
                .width(100);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>
<script type="text/javascript" src="/views/js/jquery.min.js"></script>
<script type="text/javascript" src="/views/js/students_courses.js"></script>
</body>