<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="/views/css/mystyle.css">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	
</head>
<body>
{% include 'header.html' %}
	<main id="all-info">
		{% include 'all_courses_students.html' %}
		<div id="container">
			<div class="home-title">
				<div>
					<h1>Home Page</h1>
				</div>
			</div>
		</div>
	</main>
<script type="text/javascript" src="/views/js/jquery.min.js"></script>
<script type="text/javascript" src="/views/js/students_courses.js"></script>
</body>
</html>