<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="/views/css/mystyle.css">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<body>
	{% include 'header.html' %}
	<main id="all-info">
		{% include 'all_courses_students.html' %}

		<div id="container">
			<div>
				<div class="headline">
					<h3>You have requested the following student (id: {{specific_student.id}})</h3>
					<a href="/student/edit/{{specific_student.id}}"><button>Edit</button></a>
				</div>

				<div id="main-info">
					<div style="width:7rem; height:7rem;background-image: url(/views/{{specific_student.image_link}});background-size: cover; border-radius: 50%; background-position: 50% 50%" >
					</div>
					<div style="margin-left: 1rem;">
						<h2>{{specific_student.name}}</h2>
						<h3>{{specific_student.phone}}</h3>
						<h3>{{specific_student.email}}</h3>
					</div>
				</div>
				


				<!--<img src="/views/{{specific_student.image_link}}" alt="" width=150>-->
			</div>
			<div>
				{% if signed_to == true %}
					<h2>{{specific_student.name}} is taking the following courses:</h2>
					<div class="list">
						{% for matched_course in signed_to %}							
							<section>
								<a href="/course/{{matched_course.id}}">
									<div id="info-box">
										<div style="width:5.5rem; height:5.5rem;background-image: url(/views/{{matched_course.image_link}});background-size: cover; border-radius: 50%; background-position: 50% 50%" >
										</div>
										<div class="fix">
						    				<p style="margin-left: 1rem;">{{matched_course.name}}</p>
						    			</div>
						    		</div>
					   			</a>
							</section>
						{% endfor %}
					</div>
					{% else %}
						<h2>{{specific_student.name}} is taking no courses at all</h2>
				{% endif %}
			</div>
	</main>
<script type="text/javascript" src="/views/js/jquery.min.js"></script>
<script type="text/javascript" src="/views/js/students_courses.js"></script>
</body>
</html>